.logo{
    height: 70px;
}
.franchise{
    border-radius: 500px;
    background-color: black;
    color: white;
    border: 1px solid white;
}
.nav-text{
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    
}    
.order-btn0{
    background-color: red;
    border-radius: 100px;
   }
 
.order-btn{
    background-color: black;
    color: white;
    border-radius: 30px; 
    border: 1px solid white;
    margin-top: 30px;
    padding: 20px 50px 20px 50px ;
}
.get-dir{
    background-color: black;
    color: white;
    border-radius: 20px; 
    border: 1px solid white;
    margin-top: 30px;
    padding:10px 5px 10px 5px ;
}